body {
    background-image: url(images/background1.jpg);
    background-color: #f3e5d8;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "nexa-light";
    padding: 0;
    margin: 0;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    width: 25em;
    border-radius: 2em;
    display: block;
    margin: auto;
    height: 35em;
}

form fieldset label {
    display: inline-block;
}

legend {
    color: rgb(0, 214, 108);
    background-color: white;
}

fieldset {
    border: none;
}

button {
    background-color: #ff3268;
    color: white;
    border-radius: 2em;
    border: none;
    box-shadow: 2em;
    width: 10em;
    height: 3em;
    display: block;
}

ul {
    list-style-type: none;
    background-color: white;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 14px 14px;
    color: rgb(0, 214, 108);
    text-decoration: none;
}

li a:hover {
    color: #2800a0;
}

label {
    align-self: center;
}

article {
    background-color: white;
    width: 20em;
    display: block;
    margin: auto;
    border-color: #2800a0;
    border-width: 10em;
}

article a {
    text-decoration: none;
    background-color: #ff3268;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 2em;
    border: none;
    margin: 0;
}

article {
    width: 50em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2em;
    padding: 1em;
    background: linear-gradient (to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8));
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section article {
    width: 20em;
}

img {
    position: relative;
    left: 55em;
    bottom: 33em;
    width: 5em;
    opacity: 0.8;
}

li img {
    width: 1.5em;
    align-content: center;
    position: static;
    left: 0.5em;
    top: 0.6em;
}

input {
    display: flex;
    flex-direction: row;
    width: 30em;
    height: 2.5em;
    margin: auto;
    border-radius: 0.5em;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
}

h1 {
    color: rgb(0, 214, 108);
    position: fixed;
    left: 30em;
}

h2 {
    display: block;
    color: rgb(0, 214, 108);
}